{{> head }}
   
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Sobre esta movida</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/foto.jpg" class="img-thumbnail" alt="">
        </div>
    </div>
{{> footer }}